[build]
  command = "npm run build"
  # publish директория управляется плагином @netlify/plugin-nextjs автоматически

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "18"
  NPM_FLAGS = "--legacy-peer-deps"
